@model MyBlog.Models.Blog
        <!-- Start Post Single Wrapper  -->
        <div class="post-single-wrapper axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <!-- Start Banner Area -->
                        <div class="banner banner-single-post post-formate post-layout pb--40">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Start Single Slide  -->
                                        <div class="content-block">
                                            <!-- Start Post Content  -->
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <span class="hover-flip-item">
                                                            <span data-text="@Model.Category.Name">@Model.Category.Name</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <h1 class="title">@Model.Name</h1>
                                                <!-- Post Meta  -->
                                                <div class="post-meta-wrapper">
                                                    <div class="post-meta">
                                                        <div class="post-author-avatar border-rounded">
                                                            <img src="~/images/post-images/author/author-image-3.png" alt="@Model.Author.Name @Model.Author.Surname">
                                                        </div>
                                                        <div class="content">
                                                            <h6 class="post-author-name">
                                                                    <span class="hover-flip-item">
                                                                        <span data-text="@Model.Author.Name @Model.Author.Surname">@Model.Author.Name @Model.Author.Surname</span>
                                                                    </span>
                                                            </h6>
                                                            <ul class="post-meta-list">
                                                                <li>@Model.CreateTime</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <ul class="social-share-transparent justify-content-end">
                                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-link"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Post Content  -->
                                        </div>
                                        <!-- End Single Slide  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Banner Area -->
                        <!-- Start Blog Details  -->
                        <div class="axil-post-details">
                            <p class="has-medium-font-size">@Model.Name</p>
                            <figure class="wp-block-image alignwide text-center">
                                <img src="~/images/post-images/Blog/@Model.ImagePath" alt="@Model.Name">
                                <figcaption>@Model.Subtitle</figcaption>
                            </figure>
                            @Html.Raw(@Model.Content);
                            <div class="social-share-block">
                                <ul class="social-icon icon-rounded-transparent md-size">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>

                            <!-- Start Author  -->
                            <div class="about-author">
                                <div class="media">
                                    <div class="thumbnail">
                                        <img src="~/images/post-images/author/author-b1.png" alt="@Model.Author.Name @Model.Author.Surname">
                                    </div>
                                    <div class="media-body">
                                        <div class="author-info">
                                            <h5 class="title">
                                                    <span class="hover-flip-item">
                                                        <span data-text="@Model.Author.Name @Model.Author.Surname">@Model.Author.Name @Model.Author.Surname</span>
                                                    </span>
                                            </h5>
                                            <span class="b3 subtitle">@Model.Author.Email</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Author  -->
                        </div>
                        <!-- End Blog Details  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Post Single Wrapper  -->

        <!-- Start More Stories Area  -->
        <div class="axil-more-stories-area axil-section-gap bg-color-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2 class="title">Yeni Bloglar</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in ViewBag.List)
                    {
                        <!-- Start Stories Post  -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Start Post List  -->
                            <div class="post-stories content-block mt--30">
                                <div class="post-thumbnail">
                                    <a href="post-details.html">
                                        <img src="~/images/post-images/Blog/@item.ImagePath" alt="@item.Name">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="post-cat">
                                        <div class="post-cat-list">
                                            <a href="/Blog/BlogDetail?id=@item.Id">@item.Category</a>
                                        </div>
                                    </div>
                                    <h5 class="title"><a href="/Blog/BlogDetail?id=@item.Id">@item.Name</a></h5>
                                </div>
                            </div>
                            <!-- End Post List  -->
                        </div>
                        <!-- End Stories Post  -->
                    }
                    

                </div>
            </div>
        </div>
        <!-- End More Stories Area  -->