        @model IEnumerable<MyBlog.Models.Blog>
        <!-- Start Post List Wrapper  -->
        <div class="axil-post-list-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        <!-- Start Post List  -->
                        @foreach (var item in Model)
                        {
                            <div class="content-block post-list-view mt--30">
                                <div class="post-thumbnail">
                                    <a href="/Blog/BlogDetail?id=@item.Id">
                                        <img src="~/images/post-images/Blog/@item.ImagePath" alt="@item.Name">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="post-cat">
                                        <div class="post-cat-list">
                                            <a class="hover-flip-item-wrapper" href="/Blog/BlogDetail?id=@item.Id">
                                                <span class="hover-flip-item">
                                                    <span data-text="@item.Category.Name">@item.Category.Name</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="/Blog/BlogDetail?id=@item.Id">@item.Subtitle</a></h4>
                                    <div class="post-meta-wrapper">
                                        <div class="post-meta">
                                            <div class="content">
                                                <h6 class="post-author-name">
                                                    <a class="hover-flip-item-wrapper" href="author.html">
                                                        <span class="hover-flip-item">
                                                            <span data-text="@item.Author.Name @item.Author.Surname">@item.Author.Name @item.Author.Surname</span>
                                                        </span>
                                                    </a>
                                                </h6>
                                                <ul class="post-meta-list">
                                                    <li>@item.CreateTime</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="social-share-transparent justify-content-end">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fas fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                        }
                        <!-- End Post List  -->
                        

                    </div>
                    <partial name="~/Views/Blog/Partials/BlogPartials/_RightListPartial.cshtml" />
                </div>
            </div>
        </div>
        <!-- End Post List Wrapper  -->