<!-- Start Trending Post Area  -->
<div class="axil-trending-post-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 class="title">Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Axil Tab Button  -->
                <ul class="axil-tab-button nav nav-tabs mt--20" role="tablist">
                    @foreach (var item in ViewBag.categories)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="trend-one" data-bs-toggle="tab" href="#c_@item.Id" role="tab" aria-controls="trend-one" aria-selected="true">@item.Name</a>
                        </li>
                    }
                    
                </ul>
                <!-- End Axil Tab Button  -->

                <!-- Start Axil Tab Content  -->
                <div class="tab-content">
                    @foreach (var item in ViewBag.categories)
                    {
                        <!-- Single Tab Content  -->
                        <div class="row trend-tab-content tab-pane fade" id="c_@item.Id" role="tabpanel" aria-labelledby="trend-one">
                            <div class="col-lg-8">
                                <!-- Start Single Post  -->
                                @foreach (var blog in (ViewBag.blogs as List<Blog>).Take(4).ToList())
                                {
                                    @if (blog.CategoryId == item.Id)
                                    {
                                        <div class="content-block trend-post post-order-list axil-control">
                                            <div class="post-inner">
                                                <span class="post-order-list">@blog.Name.Count()</span>
                                                <div class="post-content">
                                                    <div class="post-cat">
                                                        <div class="post-cat-list">
                                                            <span class="hover-flip-item">
                                                                <span data-text="@blog.Category.Name">@blog.Category.Name</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <h3 class="title"><a href="/Blog/BlogDetail?id=@blog.Id">@blog.Subtitle</a></h3>
                                                    <div class="post-meta-wrapper">
                                                        <div class="post-meta">
                                                            <div class="content">
                                                                <h6 class="post-author-name">
                                                                    <a class="hover-flip-item-wrapper" href="author.html">
                                                                        <span class="hover-flip-item">
                                                                            <span data-text="@blog.Author.Name @blog.Author.Surname">@blog.Author.Name @blog.Author.Surname</span>
                                                                        </span>
                                                                    </a>
                                                                </h6>
                                                                <ul class="post-meta-list">
                                                                    <li>@blog.CreateTime</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <ul class="social-share-transparent justify-content-end">
                                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-link"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail">
                                                <a href="/Blog/BlogDetail?id=@blog.Id">
                                                    <img src="~/images/post-images/Blog/@blog.ImagePath" alt="@blog.Name">
                                                </a>
                                            </div>
                                        </div>

                                    }

                                }
                                <!-- End Single Post  -->
                            </div>
                        </div>
                        <!-- Single Tab Content  -->

                    }
                </div>
                <!-- End Axil Tab Content  -->
            </div>
        </div>
    </div>
</div>
<!-- End Trending Post Area  -->