        <!-- Start Post Grid Area  -->
        <div class="axil-post-grid-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                        <div class="section-title">
                            <h2 class="title">Yazarlar</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-4 col-12">
                        <div class="see-all-topics text-start text-sm-end mt_mobile--20">
                            <a class="axil-link-button" href="/Blog/BlogList">Hepsini Görüntüle</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="axil-tab-button nav nav-tabs mt--20" role="tablist">

                            <li class="nav-item" role="presentation">
                                @foreach (var item in ViewBag.authors as List<Author>)
                                {
                                    @if((ViewBag.blogs as List<Blog>).Where(b => b.AuthorId == item.Id)!=null){
                                        <a class="nav-link" id="grid-one" data-bs-toggle="tab" href="#a_@item.Id" role="tab" aria-controls="grid-one" aria-selected="true">@item.Name @item.Surname</a>
                                    }
                                }
                            </li>
                        </ul>
                        <!-- Start Tab Content  -->
                        <div class="grid-tab-content tab-content">
                            @foreach (var item in ViewBag.authors as List<Author>)
                            {
                                @if((ViewBag.blogs as List<Blog>).Where(b => b.AuthorId == item.Id)!=null){
                                    <!-- Start Single Tab Content  -->
                                    <div class="single-post-grid tab-pane fade" id="a_@item.Id" role="tabpanel">
                                        <div class="row  mt--40">
                                            <div class="col-xl-5 col-lg-6 col-md-12 col-12">
                                                @foreach (var list in ViewBag.blogs as List<Blog>)
                                                {
                                                    @if (item.Id==list.AuthorId)
                                                    {
                                                        <!-- Start Post Medium  -->
                                                        <div class="content-block post-medium post-medium-border border-thin">
                                                            <div class="post-thumbnail">
                                                                <a href="/Blog/BlogDetail?id=@list.Id">
                                                                    <img src="~/images/post-images/Blog/@list.ImagePath" alt="@list.Name">
                                                                </a>
                                                            </div>
                                                            <div class="post-content">
                                                                <div class="post-cat">
                                                                    <div class="post-cat-list">
                                                                        <a class="hover-flip-item-wrapper" href="/Blog/BlogDetail?id=@list.Category.Id">
                                                                            <span class="hover-flip-item">
                                                                                <span data-text="@list.Category.Name">@list.Category.Name</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="title"><a href="/Blog/BlogDetail?id=@list.Id">@list.Subtitle</a></h4>
                                                            </div>
                                                        </div>
                                                        <!-- End Post Medium  -->
                                                    }
                                                    
                                                }
                                                
                                            </div>
                                            <!-- End Single Tab Content  -->
                                            <div class="col-xl-7 col-lg-6 col-md-12 col-12 mt_md--40 mt_sm--40">
                                                <!-- Start Post Grid  -->
                                                <div class="content-block content-block post-grid post-grid-transparent">
                                                    <div class="post-thumbnail">
                                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active"data-bs-interval="1"></div>
                                                                    @foreach (var list in ViewBag.blogs as List<Blog>)
                                                                    {
                                                                        @if (item.Id==list.AuthorId)
                                                                        {
                                                                            <a href="/Blog/BlogDetail?id=@list.Id">
                                                                                <div class="carousel-item">
                                                                                    <img class="d-block w-100" src="~/images/post-images/Blog/@list.ImagePath" alt="@list.Name">
                                                                                    <div class="carousel-caption d-none d-md-block">
                                                                                        <h3>@list.Subtitle</h3>
                                                                                        <h5>@list.Category.Name</h5>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        }
                                                                    }
                                                                </div>
                                                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                    <span class="sr-only">Geri</span>
                                                                </a>
                                                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                    <span class="sr-only">İleri</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Start Post Grid  -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Tab Content  -->
                                }
                                
                            }
                            
                        </div>
                        <!-- End Tab Content  -->
                    </div>
                </div>

            </div>
        </div>
        <!-- End Post Grid Area  -->